$navyish-blue : #265299;
$grey : #aaa;

body {
  background-color: $grey !important;
}

.container {
  background-color: $grey;
  margin-bottom: 20px;
}
.jumbotron {
  text-align: center;
  background-color: $navyish-blue;
  color: #fff;
  border-radius: 20px !important;
  margin-top: 10px !important;
}

.btn {
  width: 100%;
  height: 2.6em;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.2em;
}

.btn-default:hover {
  background-color: #000;
  color: #fff;
}

.form-trigger {
  background-color: #000;
  color: #fff;
}

.form-trigger:hover {
  background-color: #fff;
  color: #000;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #fff;
  text-decoration: none;
  background-color: black;
}

.question-display {
  background-color: $navyish-blue;
  color: #fff;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200%;
  max-height: 300px;
  border: 5px $grey solid;
  border-radius: 20px;
}

.question-column {
  background-color: $navyish-blue;
  color: #fff;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200%;
  max-height: 300px;
  border: 5px $grey solid;
  border-radius: 20px;
}

.question-column:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.answer-column {
  background-color: $navyish-blue;
  color: #fff;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200%;
  max-height: 300px;
  border: 5px $grey solid;
  border-radius: 20px;
}

#content {
  height: 100px;
}

#notes {
  height: 100px;
}

#content, #author, #notes {
  width: 100%;
  border-radius: 20px;
}

#question-form-heading {
  background-color: #000;
  border-radius: 20px;
  padding: 6%;
  margin-top: 0px;
}

#question-form-heading:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

input, textarea {
  color: #000;
  padding: 2%;
}
